.rate_widget {
    border: 1px solid #CCC;
    overflow: visible;
    position: relative;
    width: 170px;
    height: 32px;
    justify-content: center;
    display: inline-block;
}

.ratings_stars {
    background: url("../images/rating/empty.png");
    float: left;
    height: 28px;
    padding: 2px;
    width: 32px;
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.ratings_vote {
    background: url("../images/rating/full.png");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.ratings_over {
    background: url("../images/rating/full.png");
    background-size: cover;
    /* <------ */
    background-repeat: no-repeat;
    background-position: center center;
}

.total_votes {
    background: #eaeaea;
    top: 33px;
    left: 0;
    padding: 5px;
    position: absolute;
}

.product_vote {
    font: 10px verdana, sans-serif;
    margin: 0 auto 10px auto;
    width: 180px;
}

@media (max-width: 1199.8px) {
    .rate_widget {
        width: 140px;
        height: 26px;
    }

    .ratings_stars {
        float: left;
        height: 23px;
        padding: 2px;
        width: 26px;
    }
}